.price-item {
    background: #45c471;
    display: flex;
    gap: 6px;
    align-items: center;
    border-radius: 3px;
    max-height: 300px;
    height: 120px;
    border: 1px solid  #645d06;
    box-shadow: #4b4a3f;
    justify-content: space-between;
    padding: 12px;
    color: white;
    font-weight: bold;
    margin: 15px 3px 15px;

    &__dateCreate {
        box-shadow: 0px 0px 3px #09aa41;
        border-radius: 3px;
        height: 75px;
        display: flex;
        align-items: center;
        text-align: center;
    }

    &__itemName {
        font-size: 1.5em;
        text-align: center;
    }

    &__cost {
        border: 1px solid rgb(45, 34, 114);
        background: rgb(205, 200, 76);
        width: 70px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        border-radius: 3px;
    }
}