// COLORS
$white-orange: #febb1e;
$black: #232323;
$background: #5bd0ff;
$gray-line: #f6f6f6;
$white-green: #1efe8a;

// SIZES
$border-radius-base: 25px;
$base-width: 150px;
$container-width: 90%;

// DURATION/TIME 
$duration: 0.15s;